configuration {
  show-icons: false;
  combi-modi: "window,drun";
  combi-hide-mode-prefix: true;
  lines: 7;
  line-padding: 10;
  matching: "fuzzy";
  bw: 0;
  padding: 0;
  separator-style: "none";
  hide-scrollbar: true;
  line-margin: 0;
  font: "sans-serif 10";
  theme: "themes/custom-nord.rasi";
}
